*{
    box-sizing: border-box;
}

.form-div{
    width: 100%;

   margin: auto;
   padding-top: 100px;
}

.input-div{
    padding: 3px;
    width: 100%;
}
.pass-check{
    padding: 1px;
 position: relative;
}
.checkBox{
    position: absolute;

}
.red{
    background-color: blueviolet;
}